@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/*
*
* Developer: Ryann Kim Sesgundo
* Organization: MPOP Reverse II
* File name: styles.css
*
* Credits to the following
*
* John Roy Lapida Calimlim
* Ronald Torrejos Limpiado
* John Vincent Diaz
* Renzo Lanes Barba
* Jessa Sanchez
* Rennier21
* James Tinaya Alegre
* JxClarynx
* Isrrael Preak
* John Jeremy Antiguo
* Sanz Dinopol
* Rovie Francisco
* Mark Glen Miguel
* Andrei Candelaria
* Vugarishk Lagishuka
* Fortzkie Tuneskie
* Charles Tamao
* Adrei Paul Tamayo
* Dominic Ama
* Nonie Del Rosario
* Ian Divinagracia
* Genesis Fernandez
* Jason Francisco
* Ronald Paolo Ramirez
* Edward Fernandez
* Joshua Agulto
* Atcha Abe
* Kyla Crisel Dela Cruz
* Ricalyn Perriras
* April Bauat
* Mart Anthony Salazar
* Artz Ayate Rase
* Queens Pride
* Jericho Cabaguing
* Jonel Tapia
* Criztian Jade Tuplano
* Lloyd Samuel Garcia
* John Kenneth De Imus POgi
*
* Geeks for Geeks
* Tutorials Point
* Stackoverflow
* GitHub
* DroidModificators
* Fagmmmu
* Android Modders United
* Bisdak Developers Clan United
* XDA-Developers
* W3schools
* PHCommunity
* PinoyDen
*
* HTML Code Play
* QuickEdit
* AIDE
*
* Disclaimer: This is just created by MPOP Reverse II,
* There is no copyrigth intension, if ever that this project
* copied otther projects, Open for suggestions and idea, by
* messaging me thru m.me/NOOBGrammer2001. This project
* is a bootstrap inspired which is based on its panel classes.
* In addition, I make this project as a readable code, and as
* request, kindly don't change this comment as creditation
* to the following, and consideration to the author itself.
*
*/
@font-face{
	font-family: "baybayin";
	src: url("baybay.ttf");;
}
.baybay{
	font-family: baybayin !important;
}

:root{
	--background-main: #8e6865;
	--color-main: #ffffff;

	--silver-gray: #b89c93;
	--silver-metal: #1f140d;
}

*{
	padding:0;
	margin: 0;
	user-select: none;
	box-sizing: border-box;
	outline: none;
}

body{
	background-color: var(--background-main);
	color: var(--color-main);
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background-main);
	background-image: linear-gradient(to bottom, var(--background-main), var(--silver-gray) 200%);
	padding:.25em;
	margin: .5em;
	border-radius: .25em;
}

header > .title-side {
	display: flex;
	flex-direction: column;
	font-family: "baybayin";
	font-weight: lighter;
}
header > .title-side > #subtitle{
	margin-left: 1em;
	font-family: 'Courier New', Courier, monospace;
}

header > nav > ul{
	display: flex;
	flex-direction: row;
	margin: 0 1em ;
}

header > nav > ul > li > blockquote{
header > nav > ul > li > blockquote{
list-style: none;
	background-color: var(--silver-gray);
	color: var(--silver-metal);
	padding: .25em .5em;
	border-radius: 5em;
	font-size: smaller;
	font-weight: bolder;
	cursor: pointer;
	font-family: "baybayin";
}

header > nav > ul > li > blockquote:nth-child(even){
	margin: 0 .5em;
}

header > nav > ul > li > blockquote:hover{
	background-color: transparent;
	color: var(--color-main);
	box-shadow: 0 0 5px var(--silver-gray);
}

fieldset {
	margin: .5em;
	padding: .5em;
	border-radius: .5em;
}

fieldset > legend {
	border: 1px var(--silver-gray) solid;
	border-radius: .5em;
	padding: 0 .5em;
	margin-left: 1em;
}

fieldset > blockquote{
	text-align: justify;
	border-left: .5em var(--silver-gray) solid;
	padding: 0 .75em;
	margin: .25em 0;
}
fieldset > blockquote:hover{
	border-left: .5em var(--silver-metal) solid;
}
a{
	color: var(--silver-gray);
}

.mpop-login{
	margin: .5em;
}

.mpop-credentials{
	display: flex;
	flex-direction: row;
	margin: 0 .5em;
}

.mpop-credentials > .input{
	display: flex;
	flex-direction: row;
	background-color: var(--silver-metal);
	color: var(--color-main);
	border-radius: 5em;
	padding: 0 .5em;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.mpop-credentials > .input > input{
	background-color: transparent;
	color: var(--color-main);
	border: 0;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.mpop-credentials > .input > input[type='submit'],
.mpop-credentials > .input > input[type='button']{
	content: ">";
	width: 10px;
	padding: 0 .15em;
}