body{
	background-color: #333333;
	color: #fff;
	user-select: none;
}
div{
	visibility: hidden;
}
.a{
	visibility: visible !important;
}
.feed input::placeholder, .feed textarea::placeholder{
	color: #aaa;
}
.main, .feed input, .feed textarea, #form, #form label,#form select{
	background-color: #9966ff;
	background-image: linear-gradient(to bottom right,#9966ff 1%,#555555);
	color: #fff;
	padding: 5px;
	margin: 3px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #9966ff;
}
.centerlayout{
	margin-top: 10px;
	margin-bottom: 10px;
}
.main h3, .main h5{
	text-shadow: 1px 1px 1px #220066;
}
.main li{
	font-variant: small-caps;
	list-style: lower-roman;
}
h3{
	font-family: serif;
}
h5{
	font-family: monospace;
}
a{
	color: #fff;
}
.navi{
	background-color: #9966ff;
	background-image: linear-gradient(to bottom right,#9966ff 1%,#555555);
	color: #fff;
	padding: 2px;
	margin: 3px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #9966ff;
	font-variant: small-caps;
	font-family: "Times New Roman", Times, serif;
}
#back{
	text-decoration: none;
}
blockquote::first-letter{
	color: #0f0;
}
label{
	color: #0f0;
}
blockquote{
	font-family: serif;
}
@font-face{
	font-family: ryses;
	src: url("arial.otf");
}
.b{
	font-family: ryses !important;
	font-variant: small-caps;
}
.feed input,{
	width:25%;
}
.ul{
	width: 40%;
    margin-right: 3%;
    height: 100px;
    float: right;
	overflow-x: hidden;
	scroll-behavior: auto;
}
@media only screen and (max-width: 900px){
	.main p,.main legend,.feed p,.centerlayout li,.feed li{
		font-size: 30px;
	}
	.navi{
		font-size: 35px;
	}
	.ul{
		 width: 40%;
		 margin-right: 3%;
		 height: 20%;
	}
}
@media only screen and (max-width: 720px){
	.main p,.main legend,.feed p,.centerlayout li,.feed lii{
		font-size: 25px;
	}
	.navi{
		font-size: 30px;
	}
	.ul{
		 width: 40%;
		 margin-right: 3%;
		 height: 20%;
	}
}
@media only screen and (max-width: 540px){
	.main p,.main legend,.feed p,.centerlayout li,.feed li{
		font-size: 15px;
	}
	.navi{
		font-size: 20px;
	}
	.ul{
		 width: 40%;
		 margin-right: 3%;
		 height: 20%;
	}
}